.wrapper-login {
  display: grid;
  grid-template-rows: calc(100vh - 5rem) 5rem;
}

.login-footer {
  background-color: var(--white);
  display: grid;
  place-items: center;

  p {
    font-size: 0.75rem;
    text-transform: uppercase;
    transition: color 0.2s ease-out;

    &:hover {
      color: var(--gray-800);
    }

    span {
      font-weight: 600;
      color: var(--purple-500);
    }
  }
}
