@import "react-toastify/dist/ReactToastify.css";

:root {
  --white: #fff;
  --gray-50: #f7f8fa;
  --gray-100: #e6e8eb;
  --gray-200: #afb2b1;
  --gray-500: #808080;
  --gray-700: #797d9a;
  --gray-800: #494d4b;

  --green-500: #04d361;
  --red-500: #e5001b;

  --purple-300: #9f75ff;
  --purple-400: #9164fa;
  --purple-500: #8257e5;
  --purple-800: #6f48c9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 1080px) {
    font-size: 87.5%;
  }
}

body {
  background: var(--gray-50);
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
}

body,
input,
textarea,
button {
  font: 500 1rem Inter, sans-serif;
  color: var(--gray-500);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: Lexend, sans-serif;
  color: var(--gray-800);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

/* CLASSES GERAIS */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1480px;
  }
  @media (min-width: 1920px) {
    max-width: 1640px;
  }
}

.float-left {
  opacity: 0;
  transform: translateX(-20px);
  animation: floatLeft 0.3s forwards;
}

@keyframes floatLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background: var(--purple-400) !important;
}
.Toastify__toast-theme--colored.Toastify__toast--error {
  background: var(--red-500) !important;
}
