.navlink {
  color: var(--gray-100);
  padding-left: 0.5rem;

  a {
    font-size: 0.875rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: color 0.2s ease-in-out;
    svg {
      margin-right: 0.875rem;
      font-size: 1.125rem;
    }
    &.active,
    &:hover {
      color: var(--yellow-500);
    }
  }
}
