.avatar-wrapper {
  width: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;

  a {
    font-size: 1.5em;
    display: grid;
    place-items: center;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--purple-400);
    }
  }
}
.photo {
  border: 3px solid var(--gray-700);
  color: var(--green-500);
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  background-color: var(--gray-800);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}
.user-info {
  h4 {
    color: var(--gray-100);
  }
  small {
    color: var(--gray-200);
  }
}
